.header {
  font-family: "Barlow", sans-serif;
  padding: 20px;
  background-color: #000;
  width: 100%;
}

.header .logo {
  color: #fff;
  transition: 0.3s;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.header .logo:hover {
  color: #afafaf;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header a {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: 0.3s;
}

.header a:hover {
  color: #afafaf;
}

.header a::after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.header a:hover::after {
  width: 20px;
}