* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
body{
    font-family: Arial, sans-serif;
    /* background-color: #000;
    color: #fff; */
}
=======
>>>>>>> a6c2a35c224a0b515445a8c1acea1b16485acd8e
